# Ignore Node modules (heavy)
node_modules
dist
build

# Ignore the Database file (generated)
*.db
*.db-journal

# Ignore the Data Files (XML/JSON)
data/*.xml
data/*.json
data/*.zip

# macOS junk (just in case)
.DS_Store
